body {opacity:0}
body.all-loaded{opacity:1}
html,body{font-size:10px}body{background:linear-gradient(rgba(242,242,242,1),rgba(242,242,242,1));color:#000;font-family:'Open Sans',sans-serif;font-weight:400;line-height:3em;margin:0;overflow-x:hidden;padding:0}*,*::before,*::after{box-sizing:border-box}
#page{padding:70px 0 160px}
.wrapper{box-sizing:border-box;margin:0 auto;max-width:80%}
h1{font-size:3.5rem;font-weight:600;line-height:1.2em;margin:.7em 0}
h2{font-size:2.7rem;font-weight:400;line-height:1.2em;margin:.7em 0 .5em}
h3{font-size:1.9rem;font-weight:400;line-height:1.2em;margin:0 0 .7em;line-height:1.6}
img{max-width:100%;height:auto;border-radius:5%;margin:20px}

/* Menu */
.menu-container::after{content:"Menu";background:#DEFDE0;color:#000;padding:10px 5px 10px 53px;border-radius:15px;box-shadow:0 0 5px 2px #858fcc}
.nav-mobile{position:fixed;top:0;left:0;padding:0;margin:0;cursor:auto;font-size:18px;list-style-type:none;z-index:999999}
.nav-mobile::after{content:"";display:table;clear:both}
.nav-mobile svg{height:45px;width:100px;padding-right:50px}
.nav-mobile svg path{fill:#000}
.nav-mobile svg.icon-close{display:none;padding-right:50px}
.nav-mobile li{width:100%;line-height:46px;text-align:center;float:left}
.nav-mobile li a{display:block;color:#333;width:100%;height:100%;text-decoration:none}
.nav-mobile .menu-button{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;cursor:pointer;display:block}
.nav-mobile .menu-button::after{opacity:0;top:0;content:"";width:100vw;display:block;position:fixed;height:100vh;background:rgba(0,0,0,0.5);z-index:9;pointer-events:none;transition:opacity .2s cubic-bezier(0,0,0.3,1);transition-delay:.1s}
.nav-mobile #menu-toggle{display:none}
.nav-mobile #menu-toggle.active ~ .menu-button .icon-close,.nav-mobile #menu-toggle:checked ~ .menu-button .icon-close{display:block}
.nav-mobile #menu-toggle.active ~ .menu-button .icon-open,.nav-mobile #menu-toggle:checked ~ .menu-button .icon-open{display:none}
.nav-mobile #menu-toggle.active ~ .menu-button::after,.nav-mobile #menu-toggle:checked ~ .menu-button::after{opacity:1;pointer-events:auto;transition:opacity .3s cubic-bezier(0,0,0.3,1)}
.nav-mobile #menu-toggle.active ~ .menu-sidebar,.nav-mobile #menu-toggle:checked ~ .menu-sidebar{transform:translateX(0);transition:transform .3s cubic-bezier(0,0,0.3,1)}
.nav-mobile .menu-container{width:65px;float:left;cursor:pointer;position:absolute}
.nav-mobile .menu-container .menu-sidebar{display:block;width:65vw;bottom:0;background:#DEF3FD;color:#333;position:fixed;z-index:9999999;transform:translateX(-405px);transition:transform .3s cubic-bezier(0,0,0.3,1);top:45px;list-style-type:none;padding:0;max-width:400px}
.nav-mobile .menu-container .menu-sidebar .arrow{position:absolute;line-height:50px;font-size:32px;color:#555;top:0;z-index:0}
.nav-mobile .menu-container .menu-sidebar .arrow.left{left:25px}
.nav-mobile .menu-container .menu-sidebar .arrow.right{right:25px}
.nav-mobile .menu-container .menu-sidebar li{height:55px;line-height:55px;font-size:16px;text-align:left;position:relative;border-bottom:1px solid rgba(0,0,0,0.1);padding-left:20px}
.nav-mobile .menu-container .menu-sidebar li:hover{background:#FDDFDF}
.nav-mobile .menu-container .menu-sidebar li .menu-sub{position:fixed;top:0;right:0;bottom:0;width:0;overflow:hidden;background:#DEF3FD;visibility:hidden;transition:all .3s cubic-bezier(0,0,0.3,1);border-left:1px solid #ccc;list-style-type:none;padding:0;margin:0;z-index:2;max-width:400px}
.nav-mobile .menu-container .menu-sidebar li .menu-sub li{overflow:hidden}
.nav-mobile .menu-container .menu-sidebar li .menu-sub .menu-sub-title{padding-left:50px}
.nav-mobile .menu-container .menu-sidebar li .submenu-label{cursor:pointer;width:100%;height:100%;display:block}
.nav-mobile .menu-container .menu-sidebar li .submenu-toggle{display:none}
.nav-mobile .menu-container .menu-sidebar li .submenu-toggle.active ~ .menu-sub,.nav-mobile .menu-container .menu-sidebar li .submenu-toggle:checked ~ .menu-sub{width:65vw;visibility:visible;z-index:1;transition:width .35s cubic-bezier(0,0,0.3,1)}

@media screen and (max-width: 760px) {
.menu-container::after{content:""}
.nav-mobile svg{height:45px;width:50px;padding-right:0px}
.nav-mobile svg.icon-close{padding-right:0px;padding-left:15px}
}
